.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(22, 24, 35, 1);
}
.check {
    margin-left: 8px;
    color: rgb(32, 213, 236);
}
.user-name {
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
